.flex-flip-1 {
  order: 1;
}

.flex-flip-2 {
  order: 2;
}

.project-module-container {
  display: block;
}

.project-details {
  padding: 1rem 4rem;
  height: 100%;
}

.project-details p {
  color: var(--gray3);
}

.description-wrapper {
  overflow-y: auto;
  max-height: 400px;
}

.media-module {
  width: 100%;
  margin: 0 4rem;
  justify-content: center;
}

.img-display-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-display-wrapper ul {
  width: 100%;
  height: 500px;
  list-style-type: none;
  padding: 1rem 2.25rem;
  white-space: nowrap;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .img-display-wrapper .img-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.img-display-wrapper li {
  display: flex;
  width: auto;
  height: 400px;
  margin: 0 0.5rem;
  transition: 300ms;
}

/* .img-display-wrapper .carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper li {
  animation-duration: 1s;
  animation-name: carousel;
} */

@keyframes carousel {
  from { 
    opacity: 0;
  };

  to {
    opacity: 1;
  };
}

.carousel-btns {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--gray3);
  transition: 300ms;
}

.carousel-btns button:hover {
  color: var(--blue);
  transform: scale(1.25);
  transition: 300ms;
}

@media (width < 1600px) {
  .proj-module-container {
    flex-direction: column;
    
  }

  .flex-flip-1 {
    order: 2;
  }

  .flex-flip-2 {
    order: 1;
  }

  .proj-btn-row {
    align-items: center;
    justify-content: center;
  }
}

@media (width < 1100px) {
  .img-display-wrapper ul {
    padding: 1rem 1rem;
  }
}

@media (width < 800px) {
  .project-details {
    text-align: center;
    padding: 1rem;
  }

  .proj-btn-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .description-wrapper {
    max-height: 200px;
    margin-bottom: 1rem;
  }

  .img-display-wrapper ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    max-height: 450px;
    overflow-x: auto;
  }
}