:root {
  --slate1: #e2e8f0;
  --slate2: #cbd5e1;
  --slate3: #64748B;
  --slate4: #1E293B;
  --slate5: #0F172A;
  --gray: #BFD2BF;
  --gray1: #d4d4d8;
  --gray2: #a1a1aa;
  --gray3: #71717a;
  --gray4: #52525b;
  --gray5: #3f3f46;
  --gray6: #27272a;
  --gray7: #18181b;
  --gray8: #09090b;
  --red: #931621;
  --blue: #087F8C;
  --lion: #BB9457;
  --orange: #E07A5F;
}

html {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

body {
  margin: 0;
  max-width: 100vw;
  height: auto;
  background-color: var(--gray7);
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}