:root {
  --slate1: #E2E8F0;
  --slate2: #64748B;
  --slate3: #1E293B;
  --slate4: #0F172A;
  --red: #963D5A;
  --orange: #E07A5F;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

body {
  margin: 0;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
  background-color: var(--slate1);
}