.text-carousel-word {
  margin: 0;
  color: var(--slate2);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  animation-name: word-animation;
  animation-duration: 3s
}

@keyframes word-animation {
  0%   {opacity: 0%}
  25%  {opacity: 100%}
  75%  {opacity: 100%}
  100% {opacity: 0%}
}