.typewriter-container {
  height: 3.3rem;
  font-size: 3rem;
}

.typewriter-cursor {
  font-size: 3.3rem;
  color: var(--lion);
}

@media (width < 600px) {
  .typewriter-container {
    font-size: 1.7rem;
    height: 2rem;
  }

  .typewriter-cursor {
    font-size: 2rem;
  }
}