.section-row-nav {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.section-btn-wrapper {
  padding: 0.1rem;
}

.section-btn {
  background-color: transparent;
  color: var(--gray3);
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 300ms ease-out;
  transition: transform 300ms ease-out;
}

.section-btn:hover {
  color: var(--blue);
  transform: scale(1.1);
}

@media (width < 600px) {
  .section-row-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .section-btn {
    margin: 0.5rem 0;
  }
}